/* Adicione uma cor de fundo específica para a página */
body {
    font-family:Arial, Helvetica, sans-serif;
    background-color: rgb(253, 251, 251);
}

#cabecalho {
    background-color:blue ;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
}
#titulo {
    font-size: 30px;
    color: deepskyblue;
    line-height: 6px;
}

#minha_foto {
       width: 300px;
} 


#licoes_aprendidas {

}

#licoes_a_aprender {

}

.lado-esquerdo {
    border: 1px solid black;
    float: left;
    width: 50%;
    margin-left: 20px;
    
}

.lado-direito {
    padding: 10px;
    border: 1px solid black;
    margin: red;
    width: 200px;
    float:right;
    margin-right: 20px;
    
}

#rodape {
    position: fixed;
    bottom: 0;
    background-color: blue;
    text-align: center;

}

